<% if @gorilla.errors.any? %>
	<% @gorilla.errors.full_messages.each do |m| %>
		<p>Error: <%= m %></p>
	<% end %>
<% end %>

<h1>Brand New Gorilla</h1>


<form action="/gorillas" method="post">

 <h3>Name: <span class="label label-default"></h3><input type="text" class="form-control" name="name"></br>


 <h3>Age: <span class="label label-default"></h3><input type="text" class="form-control" name="age"></br>


 <h3>Preserve: <span class="label label-default"></h3><select name="preserve_id" class="form-control"> 
     <option>No Preserve</option>
     <% @preserves.each do |preserve| %>
       <option value="<%= preserve.id %>">
         <%= preserve.name %>
       </option>
     <% end %>
   </select>

  <input type="submit" value="Brand New Gorilla" class="btn btn-primary" >

</form>