<h1>Gorilla Fight</h1>
<h3>Separate the angry gorillas or assign them wranglers</h3>
<iframe src="//giphy.com/embed/uORPyA3S1n3HO" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p><a href="http://giphy.com/gifs/fight-uORPyA3S1n3HO">via GIPHY</a></p>

<p><a href="/preserves/<%= @preserve.id%>">Return to <%= @preserve.name %></a></p>