<h1>Gorillas have escaped.</h1>
<h1>Run for your lives!!</h1>
<iframe src="//giphy.com/embed/KRG6XGnCYB0L6" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p><a href="http://giphy.com/gifs/movie-guy-KRG6XGnCYB0L6">via GIPHY</a></p>

<p><a href="/preserves/<%= @preserve.id%>">Return to <%= @preserve.name %></a></p>