<% if @preserve.errors.any? %>
	<% @preserve.errors.full_messages.each do |m| %>
		<p>Error: <%= m %></p>
	<% end %>
<% end %>

<h1>Open New Preserve</h1>


<form action="/preserves" method="post">
 <h3>Name: <span class="label label-default"></h3><input type="text" name="name" class="form-control"></br>
 <h3>Location: <span class="label label-default"></h3><input type="text", name="location" class="form-control"></br>
 <input type="submit" value="New Preserve" class="btn btn-primary">
</form>