<% if @wrangler.errors.any? %>
	<% @wrangler.errors.full_messages.each do |m| %>
		<p>Error: <%= m %></p>
	<% end %>
<% end %>

<h1>New Hire</h1>


<form action="/wranglers" method="post">
 <h3>Name: <span class="label label-default"></h3><input type="text" name="name" class="form-control"></br>

  <h3>Age: <span class="label label-default"></h3><input type="text", name="age" class="form-control"></br>
  <h3>Preserve: <span class="label label-default"></h3>
   <select name="preserve_id" class="form-control">
     <option>No Preserve</option>
     <% @preserves.each do |preserve| %>
       <option value="<%= preserve.id %>">
         <%= preserve.name %>
       </option>
     <% end %>
   </select>
  <input type="submit" value="Brand New Wrangler" class="btn btn-primary">
</form>